.list{
    max-width: 930px;
    margin: 0 auto;
    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid grey;
    padding: 15px 20px;
    width: 200px;
    
}
.time{
        flex-direction: column;
        gap: 10px;
}
.not-found{
    text-align: center;
    font-size: large;
}
